@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply shadow rounded border border-gray-300 px-3 py-2 bg-white hover:text-sky-600 cursor-pointer text-neutral-800;
    }

    .btn-primary {
        @apply bg-sky-600 border-sky-500 text-white hover:text-white disabled:text-white hover:bg-sky-700 text-white;
    }

    .btn-small {
        @apply px-2 py-1 text-xs rounded-sm;
    }

    .btn-icon {
        @apply hover:bg-neutral-300/40 p-1;
    }

    .btn-icon > svg {
        @apply w-4 h-4;
    }

    .btn-icon:disabled {
        @apply text-neutral-500 cursor-not-allowed;
    }

    svg {
        @apply w-5 h-5;
    }

    .text-input {
        @apply p-2 rounded text-black text-sm border border-neutral-900;
    }

    .text-input:disabled {
        @apply bg-neutral-400 cursor-not-allowed;
    }
}

body {
    @apply bg-neutral-900 text-white;
}

.toast {
    pointer-events: all;
    @apply shadow-lg text-sm;
    --toastWidth: 24rem;
}

.error {
    --toastBarBackground: #991b1b;
    --toastBackground: #dc2626;
}

input[type="checkbox"] {
    transform: scale(1.5);
}
