@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply shadow rounded border border-sky-500 px-3 py-2 bg-sky-600 cursor-pointer text-neutral-800 disabled:cursor-not-allowed disabled:text-neutral-400 disabled:bg-sky-900 hover:bg-sky-700 text-white;
    }

    .btn-other {
        @apply border-gray-300 bg-white hover:text-sky-600 hover:bg-white text-neutral-800;
    }

    .btn-small {
        @apply px-2 py-1 text-xs rounded-sm;
    }

    .btn-icon {
        @apply hover:bg-neutral-300/40 p-1 disabled:text-neutral-500 disabled:cursor-not-allowed;
    }

    .btn-icon > svg {
        @apply w-4 h-4;
    }

    svg {
        @apply w-5 h-5;
    }

    .text-input {
        @apply p-2 rounded text-black text-sm border border-neutral-900;
    }

    .text-input:disabled {
        @apply bg-neutral-400 cursor-not-allowed;
    }

    .inputs-form {
        @apply grid grid-cols-[1fr_auto] gap-y-2 gap-x-4 items-center;
    }
}

body {
    @apply bg-neutral-900 text-white;
}

.toast {
    pointer-events: all;
    @apply shadow-lg text-sm;
    --toastWidth: 24rem;
}

.error {
    --toastBarBackground: #991b1b;
    --toastBackground: #dc2626;
}

input[type="checkbox"] {
    transform: scale(1.5) translateX(0.15rem);
}
